*/.DS_Store
*/__pycache__/
env/
codigo/*_mac.sh
datos/reportes_oficiales_ssa/casos_confirmados/rename_cmd.txt
datos_abiertos/raw/zip_cmd.txt
datos_abiertos/raw/datos_abiertos*.csv
codigo/archive
codigo/deprecated/workflow.sh
.DS_Store
